<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>free powerpoint creator</title>
</head>
<body>
<div align="center">
    <div class="jumbotron">
        <p>
        <h1>
            Powerpoint creator
        </p></h1>
        <p>Enter Your Text:</p>
        <form action="/Result.html" method="POST">
            <textarea name="TokenText" cols="40" rows="5" wrap="soft">Enter your Text here...</textarea>
            <br/>
            <p>How Many Lines:</p>

            <select class="form-control" id="select" name="sentnum" size="3" style="width: 90px;">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <br />
            <p>Enter Your Name:</p>
            <textarea name="Name" wrap="soft"></textarea>
            <br />
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
        <p></p>
    </div>
    <div class="well" align="center">
        Adel Rahimi<br/>
        Rahimi.adel@mehr.sharif.edu
    </div>
    </form>
</body>
</html>
